{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/home.css' %}">
</head>
<body>
    <div class="dashboard-container">
        <div class="sidebar">
            <h1><a href="index.html">Dashboard</a></h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Orders</a></li>
                <li><a href="#">Customers</a></li>
                <li><a href="#">Reports</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </div>
        <div class="main-content">
            <div class="header">
                <h2>Welcome, Dagim!</h2>
                <div class="user-profile">
                    <img src="{{ STATIC_URL }}/Dagwal.png" alt="Profile Picture">
                    <span>Dagim Wallelgne</span>
                </div>
            </div>
            <div class="content">
                <h3>Overview</h3>
                <p>Welcome to the dashboard. Here you can manage your orders, customers, products, and generate reports.</p>
                <div class="card">
                    <h4>Total Products</h4>
                    <p>20</p>
                </div>
                <div class="card">
                    <h4>Total Orders</h4>
                    <p>40</p>
                </div>
                <div class="card">
                    <h4>Total Customers</h4>
                    <p>50</p>
                </div>
                <div class="card">
                    <h4>Total Revenue</h4>
                    <p>$12,000</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
