{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Update product</h3>
    <hr>
    <form method="POST">
        <div class="alert alert-danger">
            <h4>Are you sure, you want to update {{ categories }}?</h4>
        </div>
        {% csrf_token %}
        {{ form|crispy }}
        <a class="btn btn-secondary btn-sm" href="{% url 'dashboard-product' %}">Cancel</a>
        <input class="btn btn-danger btn-sm" type="submit" value="Confirm">
    </form>
</body>
</html>