{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Features | Inventory App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/Landing/styles.css' %}">
</head>
<body>
  <!-- Header -->
  <header>
    <div class="logo-container">
      <img src="https://img.freepik.com/premium-vector/logistic-logo-template-icon-illustration-brand-identity-isolated-flat-illustration-vector-graphic_7109-1984.jpg?w=740" alt="Logo">
      <h1 class="logo-text">MD-INVENTORY</h1>
    </div>

    <!-- nav bar -->
    <nav class="nav-buttons">
      <a href="{% url 'dashboard_landing' %}" class="nav-button">Home</a>
      <a href="{% url 'landing_about' %}" class="nav-button">About Us</a>
      <a href="{% url 'landing_features' %}" class="nav-button">Features</a>
      <a href="{% url 'landing_contact' %}" class="nav-button">Contact</a>
      <div class="nav-dropdown">
        <button class="nav-button">Account &#9662;</button>
        <div class="dropdown-content">
          <a href="{% url 'login' %}">Sign In</a>
          <a href="{% url 'register' %}">Sign Up</a>
        </div>
      </div>
    </nav>
  </header>

  <!-- Features Section -->
  <section id="features">
    <div class="section-content">
      <h2>Features</h2>
      <div class="feature-card">
        <i class="feature-icon">&#128640;</i>
        <h3>Inventory Tracking</h3>
        <p>Easily track and manage your inventory items. Keep track of quantities, locations, and more.</p>
      </div>
      <div class="feature-card">
        <i class="feature-icon">&#128221;</i>
        <h3>Real-time Updates</h3>
        <p>Receive instant updates on inventory changes. Stay informed about stock levels and availability.</p>
      </div>
      <div class="feature-card">
        <i class="feature-icon">&#128276;</i>
        <h3>Reporting and Analytics</h3>
        <p>Generate comprehensive reports and gain valuable insights into your inventory performance.</p>
      </div>
      <div class="feature-card">
        <i class="feature-icon">&#128396;</i>
        <h3>Multi-Platform Access</h3>
        <p>Access your inventory app from anywhere, anytime. Compatible with desktop, mobile, and tablet devices.</p>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    <div class="footer-content">
      <div class="footer-links">
        <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
      </div>
      <p>&copy; 2023 MDInventory App. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
