{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/Landing/about.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'dashboard/Landing/styles.css' %}">
</head>
<body>
  <!-- Header -->
  <header>
    <div class="logo-container">
      <img src="https://img.freepik.com/premium-vector/logistic-logo-template-icon-illustration-brand-identity-isolated-flat-illustration-vector-graphic_7109-1984.jpg?w=740" alt="Logo">
      <h1 class="logo-text">MD-INVENTORY</h1>
    </div>
    <!-- nav bar -->
    <nav class="nav-buttons">
      <a href="{% url 'dashboard_landing' %}" class="nav-button">Home</a>
      <a href="{% url 'landing_about' %}" class="nav-button">About Us</a>
      <a href="{% url 'landing_features' %}" class="nav-button">Features</a>
      <a href="{% url 'landing_contact' %}" class="nav-button">Contact</a>
      <div class="nav-dropdown">
        <button class="nav-button">Account &#9662;</button>
        <div class="dropdown-content">
          <a href="{% url 'login' %}">Sign In</a>
          <a href="{% url 'register' %}">Sign Up</a>
        </div>
      </div>
    </nav>
  </header>
  
  <div class="container">
    <h1>About Us</h1>
    <hr width="720px">
    <br>
    <p style="padding: 10px;">As a team, we embarked on this project driven by our shared passion for innovative solutions and a desire to push
      the boundaries of what is possible. Our motivation goes beyond fulfilling the requirements set by Holberton School;
      it is rooted in our genuine enthusiasm for creating impactful projects.</p>
    <p style="padding: 10px;">Throughout the development process, we aimed to deliver a portfolio project that showcases our skills and
      capabilities as aspiring professionals in the tech industry. This project serves as a testament to our dedication,
      hard work, and commitment to excellence.</p>
    <p style="padding: 10px;">To learn more about Holberton School, please visit the <a
        href="https://www.holbertonschool.com">Holberton School Website</a>.</p>
    <br>
    <hr width="720px">
    <h2>Meet the Team</h2>
    
    <div class="author">
      <img src="{% static 'dashboard/Authors-Image/Dagwal.png' %}" alt="Dagim Wallelegne">
      <div class="author-details">
        <h3>Dagim Wallelegne</h3>
        <p>Frontend Developer</p>
        <p>Dagim is a talented frontend developer with a passion for creating intuitive and user-friendly interfaces. With several years of experience in web development, he specializes in HTML, CSS, and JavaScript. Dagim is dedicated to delivering seamless user experiences and translating design concepts into functional and visually appealing websites.</p>
        <p>
          <a href="https://www.linkedin.com/your-profile" target="_blank"><i class="fab fa-linkedin"></i></a> |
          <a href="https://github.com/your-username" target="_blank"><i class="fab fa-github"></i></a> |
          <a href="https://twitter.com/your-username" target="_blank"><i class="fab fa-twitter"></i></a>
        </p>
      </div>
    </div>
    
    
    <div class="author">
      <img src="{% static 'dashboard/Authors-Image/miki.png' %}" alt="Mickyas Kore">
      <div class="author-details">
        <h3>Mickyas Kore</h3>
        <p>Backend Developer</p>
        <p>Mickyas is a skilled backend developer with expertise in building robust and scalable web applications. He has a strong command of programming languages such as Python and Java, and he enjoys working with databases and server-side technologies. Mickyas thrives on solving complex problems and optimizing application performance to deliver efficient and secure solutions.</p>
        <p>
          <a href="https://www.linkedin.com/your-profile" target="_blank"><i class="fab fa-linkedin"></i></a> |
          <a href="https://github.com/your-username" target="_blank"><i class="fab fa-github"></i></a> |
          <a href="https://twitter.com/your-username" target="_blank"><i class="fab fa-twitter"></i></a>
        </p>
      </div>
    </div>
    <hr>

    <div class="inspiration">
      <br>
      <div class="inspire-us">
        <h2 style="padding: 20px; text-decoration: underline;">Inspirational Text That Reflects The Ongoing Development And Future Updates Of The Web-Based Inventory App</h2>
        <h3> ☕ How The Project Was Inspired ?</h3> <br> 
        <p>Our project draws inspiration from real-life scenarios faced by businesses, including "Mikiyas's friend," the owner of a medium-sized store. He encountered significant challenges in managing his inventory using traditional methods, leading to inefficiencies and inaccuracies. Witnessing his struggles, we were motivated to develop a solution that specifically caters to the unique needs of medium-sized companies like his.</p>
      </div>
      
      <div class="progress">
        <p>
          With the aim of revolutionizing inventory management, we are in the initial stages of deploying our Web-Based Inventory App. While it is a work in progress, we are driven by the vision of providing medium-sized companies with a powerful tool to optimize their inventory management processes.
        </p>
      
        <p>
          Our app, designed for medium-sized companies, is currently undergoing its first deployment phase. During this initial release, we are focusing on delivering essential functionalities that will help businesses streamline their inventory management operations. These functionalities include inventory tracking, order management, and basic reporting capabilities.
        </p>
      
        <p>
          We understand that businesses evolve, and their needs change over time. As we move forward, we are committed to continuously improving and enhancing the app's user interface and adding new features based on user feedback and emerging industry trends. We will actively incorporate user insights to refine the app, ensuring it remains intuitive, user-friendly, and aligned with the evolving requirements of medium-sized companies.
        </p>
      
        <p>
          We also have plans to enhance the app's user interface, making it more visually appealing and intuitive. By focusing on usability and incorporating modern design principles, we aim to provide a seamless and enjoyable experience for businesses using our app.
        </p>
     
        <p>
          While our app is still in its early stages, we are excited about its potential to transform inventory management for medium-sized businesses. We invite businesses to join us on this journey and provide valuable feedback that will shape the future of our app. Together, we can build a robust and feature-rich solution that empowers medium-sized companies to thrive in today's competitive business landscape.
        </p>
      </div>
      
      <br>

      <h2>GitHub Repository:</h2>
      <p>Explore the project's GitHub repository to gain insights into our development process and access the source code:
        <a href="https://github.com/Mickykore/Web_Based_Inventory_managment/" target="_blank"><i class="fab fa-github"> GitHub Repository </i></a>
    </div>
    <style>
      .inspire-us {
        padding: 15px;
        font-family: Arial, sans-serif;
        font-size: 16px;
      }
    
      .progress p {
        padding: 15px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        text-align: justify;
      }
      
    </style>
    
  </div>
  
  <footer>
    <div class="footer-content">
      <div class="footer-links">
        <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
      </div>
      <p>&copy; 2023 MDInventory App. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
