{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard/Landing/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/logout.css' %}">
    <title>Logged Out</title>
    
</head>
<body>
    <!-- Header -->
  <header>
    <div class="logo-container">
      <img src="https://img.freepik.com/premium-vector/logistic-logo-template-icon-illustration-brand-identity-isolated-flat-illustration-vector-graphic_7109-1984.jpg?w=740" alt="Logo">
      <h1 class="logo-text">MD-INVENTORY</h1>
    </div>

    <!-- nav bar -->
    <nav class="nav-buttons">
      <a href="{% url 'dashboard_landing' %}" class="nav-button">Home</a>
      <a href="{% url 'landing_about' %}" class="nav-button">About Us</a>
      <a href="{% url 'landing_features' %}" class="nav-button">Features</a>
      <a href="{% url 'landing_contact' %}" class="nav-button">Contact</a>
      {% if user.is_authenticated %}
      <div class="nav-dropdown">
        <button class="nav-button">Profile &#9662;</button>
        <div class="dropdown-content">
          <a class="" href="{% url 'dashboard_home' %}">Dashboard</a>
          <a class="" href="{% url 'logout' %}">Logout</a>  
        </div>
      </div>
      {% else %}
      <div class="nav-dropdown">
        <button class="nav-button">Account &#9662;</button>
        <div class="dropdown-content">
          <a href="{% url 'login' %}">Sign In</a>
          <a href="{% url 'register' %}">Sign Up</a>
        </div>
      </div>
      {% endif %}
    </nav>
  </header>
    <h2>You have been logged out</h2>
    <p>Thank you for using our services. We look forward to seeing you again soon.</p>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Log In Again</a>
        </small>
    </div>
</body>
</html>
