{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'users/login-styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/styles.css' %}">
    <!-- continue from here. cause the styles are gone -->
    <title>Password Reset Sent</title>

</head>
<body>
      <!-- Header -->
  <header>
    <div class="logo-container">
      <img src="https://img.freepik.com/premium-vector/logistic-logo-template-icon-illustration-brand-identity-isolated-flat-illustration-vector-graphic_7109-1984.jpg?w=740" alt="Logo">
      <h1 class="logo-text">MD-INVENTORY</h1>
    </div>

    <!-- nav bar -->
    <nav class="nav-buttons">
      <a href="{% url 'dashboard_landing' %}" class="nav-button">Home</a>
      <a href="{% url 'landing_about' %}" class="nav-button">About Us</a>
      <a href="{% url 'landing_features' %}" class="nav-button">Features</a>
      <a href="{% url 'landing_contact' %}" class="nav-button">Contact</a>
      {% if user.is_authenticated %}
      <div class="nav-dropdown">
        <button class="nav-button">Profile &#9662;</button>
        <div class="dropdown-content">
          <a class="" href="{% url 'dashboard_home' %}">Dashboard</a>
          <a class="" href="{% url 'logout' %}">Logout</a>  
        </div>
      </div>
      {% else %}
      <div class="nav-dropdown">
        <button class="nav-button">Account &#9662;</button>
        <div class="dropdown-content">
          <a href="{% url 'login' %}">Sign In</a>
          <a href="{% url 'register' %}">Sign Up</a>
        </div>
      </div>
      {% endif %}
    </nav>
  </header>
    <div class="container">      
        <h1>Password Reset Sent</h1>
        <div class="verification-symbol">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSawLq2A7xtPYXYvCY3R49StM6N1U88zf8Lbw&usqp=CAU" alt="Verification Symbol">
        </div>
        <div class="alert">
            <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        </div>
    </div>
</body>
</html>

