{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{  update_user_form|crispy }}
        {{  update_profile_form|crispy }}
        <button type="submit">update</button>
    </form>
    {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
</body>
</html>