body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(12, 12, 23);
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 50px;
  margin-right: 10px;
}

.logo-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 0;
}

/* nav bar*/
.nav-buttons {
  justify-content: center;
  align-items: center;
}

.nav-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin: 0 10px;
}

.nav-button:hover {
  background-color: #555;
}

/* DropDown Option */
.nav-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 153px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #333;
  color: white;
  font-weight: bold;
}

.nav-dropdown:hover .dropdown-content {
  display: block;
}

h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}


#login-form-container,
#signup-form-container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 30px;
  border: 1px solid #ccc;
}

form {
  width: 100%;
  margin: 0;
  padding: 10px;
}

h2 {
  margin-top: 0;
  text-align: center;
}

input {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  height: 40px;
  background-color: #000;
  color: #fff;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10px;
}

button:hover {
  background-color: #3a285a;
}

button:active {
  background-color: #ccc;
  color: #000;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  text-decoration: underline;
}

#login-form-container label,
#signup-form-container label {
  display: block;
  margin-bottom: 5px;
}

#login-form-container p,
#signup-form-container p {
  text-align: center;
  margin-top: 10px;
}

.errorlist {
  color: red;
}